################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/.vs/AzureFunctionWebAPI/v16
/source/tests/SampleAzureFunctionCode.Tests/obj
/source/.vs/AzureFunctionWebAPI/DesignTimeBuild/.dtbcache
